.app-wrapper {
    display: grid;
    weight: 1000px;
    high: 100px;
    margin: 0;
    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.header {
    grid-area: h;
    background-color: #d0e6ff;
}
.header img{
    width: 80px;
    background-color: #d0e6ff;
}

.nav {
    grid-area: n;
    background-color: #cedcf1;
}

.content {
    grid-area: c;
    background-color: rgba(172, 183, 194, 0.61);
}