.app-wrapper {
    display: grid;
    weight: 1000px;
    high: 100px;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}


